# Created by .ignore support plugin (hsz.mobi)
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_3_2.xml
.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_3_2.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_1_1.xml
.idea/libraries/Maven__org_picketbox_picketbox_4_0_20_Beta2.xml
.idea/workspace.xml
out/
target/
web/admin/
web/angular/kwitter/.editorconfig
web/angular/kwitter/.gitignore
web/angular/kwitter/README.md
web/angular/kwitter/angular.json
web/angular/kwitter/e2e/
web/angular/kwitter/package-lock.json
web/angular/kwitter/package.json
web/angular/kwitter/src/
web/angular/kwitter/tsconfig.json
web/angular/kwitter/tslint.json
web/angular/kwitter2/
web/angular/kwitter3/
web/angular/kwitter4/kwitter4/.editorconfig
web/angular/kwitter4/kwitter4/.gitignore
web/angular/kwitter4/kwitter4/README.md
web/angular/kwitter4/kwitter4/angular.json
web/angular/kwitter4/kwitter4/e2e/
web/angular/kwitter4/kwitter4/package-lock.json
web/angular/kwitter4/kwitter4/package.json
web/angular/kwitter4/kwitter4/src/
web/angular/kwitter4/kwitter4/tsconfig.json
web/angular/kwitter4/kwitter4/tslint.json
web/resources/images/71499dc09f451cccaac54a3172d49f5e.jpg
